<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
  <%- include('./partials/nav.ejs')%>
<div class="container">
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsa ab at exercitationem dolorum quam expedita, vel accusantium impedit tenetur excepturi nam officiis placeat eum sapiente possimus quos nemo perspiciatis!</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex cum accusantium iure sapiente? Veritatis perspiciatis reiciendis nobis libero, natus praesentium voluptatem saepe expedita aliquid facere officia eaque! Ratione, molestiae?</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eaque culpa? Praesentium, optio iusto amet dolore dignissimos consectetur ut, facere vitae porro ipsa culpa alias nesciunt, veniam veritatis accusamus deleniti!</p>




<footer>
  <%- include('./partials/footer.ejs')%>
</footer>
</div>
</body>
</html>
