<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
   
  <%- include('./partials/nav.ejs')%>

<div class="container">
    <form>
        <div class="mb-3">
          <label for="exampleInputBlog Title" class="form-label">Blog Title</label>
          <input type="title" class="form-control" id="title">
        </div>

        <div class="mb-3">
          <label for="exampleInputBlogSnippet" class="form-label">Blog Snippet</label>
          <input type="snippet" class="form-control" id="snippet">
        </div>

        <div class="mb-3">
          <label for="exampleInputBlogBody" class="form-label">Blog Body</label>
          <input type="body" class="form-control" id="body">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    


    <footer>
      <%- include('./partials/footer.ejs')%>
    </footer>
  </div>
</body>


</html>
